<!DOCTYPE html>
<html>
<head>
    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <link href="~/Content/kendo.default.min.css" rel="stylesheet" />
    <link href="~/Content/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
